

.chat-type-selector{

  width: 100vw; /* 100% of the viewport width */
  height: 100vh; 
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  /* background-color: red; */
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
}

#heading{
  
  /* background-color: rebeccapurple; */
  /* margin-left: 5vw; */
  /* margin-right: 100px; */
  /* height: 300px; */
  color: violet;
  font-family: "Source Sans 3", sans-serif;
  font-size: 5vw;
  /* border: 1px solid white; */
  width: 80vw;
  margin-left: -18vw;
  margin-top: -10vh;




  /* background-color: red; */
  /* overflow: hidden; */

}

.textt{
  color: aliceblue;
  /* background-color: aqua; */
  width: 30vw;
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* justify-content:; */
}

#subtitle{

  margin-top: -30vh;
  width: 60vw;
  margin-left: -13vw;
  
  
}

#btns{
  /* width: 40vw; */
  background-color: blue,
}