.body{
  background-color: red;
}


.chat-type-selector{

  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  /* background-color: red; */
  display: flex;
  align-items: center;

  
}

.heading{
  
  /* background-color: rebeccapurple; */
  
  /* height: 300px; */
  color: white;
  font-family: "Source Sans 3", sans-serif;
  font-size: 50px;

}

.textt{
  color: aliceblue;
  /* background-color: aqua; */
  width: 1000px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* justify-content:; */
}