.body{
  background-color: red;
}

.chat-type-selector{
  background-color: aqua;
  width: 100%;
  /* height: 1000px; */
  margin-top: 200px;
  display: flex;
  /* justify-content: flex-start; */
  align-items: column;
}