.create-community-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#b{
    color:white;  
    font-size: 40px;
  }

  #community-heading{
    display: flex !important;
    justify-content: space-around;
    height: 500px;
    /* background-color: rebeccapurple; */
  }

.form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.create-community-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

#community-heading{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#heading-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
    color: white;
    margin-top: 10%;
    /* background-color: #f9f9f9; */
}

#heading-btn{
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    /* color: white; */
}

#user-id{
    width: 200px;
}

#community-name{
    width: 100px;
}