/* style.css */

/* Common styles */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh !important;
  width: 100vw;
  margin-left: -20%;
}

#main{

  height: 60vh !important;
  width: 55vw !important;

  background-color: beige;

}


#message-box{
   /* height: 60vh !important; */
  width: 51vw !important;


}

